[Unit]
Description=PIR HDMI On/Off
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/pirhdmi
Restart=on-abort

[Install]
WantedBy=multi-user.target
